html, body{
  margin: 0 auto;
  font-family: 'Open-Sans', sans-serif;
}

body {
  background-color: black;
  background-image: linear-gradient(to bottom right, #373b52, #6b7298);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
  
header {
  background-color: #676e98;
  padding: 0;
  margin: 0;
  width: auto;
  height: 90px;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.502));
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 3.5px;
  color: #EF6461;
  transform: translateY(-6px) ;
  /* text-shadow: 2px 2px 3px rgba(255,255,255,0.5); */
}


p {
  font-size: 12.2px;
  color: #e4e7ee;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-self: flex-end;
  position: absolute;
  top: 67px;
}

h3 {
  color: #e4e7ee;
  font-weight: 300;
}
#wrapper {
  margin-top: 55px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#gameboard {
  width: 480px;
  height: 600px;
  background-color: #676e98;
  filter: drop-shadow(0 0 0.95rem rgba(0, 0, 0, 0.502));
  border-radius: 25px;
}

#trackers {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

#score, #time {
  width: 75px;
  height: 75px;
  background: rgba(black, black, black, 0.3);
  border: 3px solid #EF6461;
  border-radius: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #e4e7ee; */
  color: #f1f2f5;
  font-size: 30px;
  font-weight: 350;

}


#score {
  margin-right: 180px;
}

#nextup {
  display: flex;
  align-content: center;
  justify-content: center;
  /* border: 2px solid red; */
  flex-direction: column;
  margin-bottom: 20px;
}

#nextup2, #scoreMulti {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-style: italic;
  visibility: hidden;
  margin-bottom: -20px;
}

#buttons{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid red; */
  align-items: center;

}

#start{
  margin-top: 120px;
}

button {
  /* padding: 8px; */
  text-align: center;
  color: #e4e7ee;
  background-color: transparent;
  transform: scale(2);
  transition: all .2s ease-in-out;
  border: 1px solid #f1f2f5;
  border-radius: 5px;
  height: 30px;
  align-content: center;
  margin: 20px;
  margin-top: 30px;
  width: 230px;
}

button:hover {
  background-color: #c9ccd27e;
  color: #f1f2f5;
  transform: scale(2.05)
}

#word {
  color: #f1f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: space-around; */
  font-size: 70px;
  /* height: 368px; */
  /* border: 2px solid red; */
  flex-direction: column;
}

#word2 {
  display:flex; 
  flex-direction: row;
}
h4 {
  margin-top: 120px;
  /* margin-right: 0.5px; */
}

.correct {
  background-color: #6EB790;
}

.incorrect {
  /* background-color: rgba(221, 164, 72, 0.85); */
  color: rgba(237, 58, 58, 0.795);
}

.onIt {
  background: rgba(252, 252, 252, 0.4)
}

span {
  display: inline;
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
body {
  margin: auto;
}
#gameboard {
  width: 340px;
  height: 500px;
}
button {
  width: 150px;
}
#score {
  margin-right: 115px;
}
h1 {
  transform: translateY(-3px);
  font-weight: 325;
}
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
body {
  background-size: 250vw 250vh;
}
}